p {
  margin-bottom: 10px;
  font-size: 76%;
}

a {
  text-decoration: underline;
}

.rorligt-elpris-app {
  background-color: #fff;
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 100%;
  line-height: 140%;
  display: flex;
}

.elomrade {
  z-index: 0;
  outline-offset: 0px;
  background-color: #fff;
  outline: 1px solid #bebebe;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.elomrade.selected {
  z-index: 1;
  outline-color: #f29091;
}

.elomrade.left {
  border-right-width: 0;
  border-top-left-radius: 1.2rem;
  border-bottom-left-radius: 1.2rem;
}

.elomrade.right {
  border-left-width: 0;
  border-top-right-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
}

.rorligt-elpris-wrapper {
  width: 100%;
  height: 10rem;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.elpris-rubrik {
  font-family: Strawford Bold Webfont, sans-serif;
  font-weight: 700;
}

.rorligt-elpris {
  color: #57a3af;
  font-family: Strawford Bold Webfont, sans-serif;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 2.3rem;
}

.elpris-wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-top: 1.1rem;
  line-height: 2.3px;
  display: flex;
}

.elpris-kwh {
  color: #57a3af;
  font-family: Strawford Light Webfont, sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 0.8rem;
}

.postal-form {
  width: 100%;
}

.postal-input {
  height: 2.8rem;
  max-width: 14rem;
  border-radius: 0.6rem;
  margin-bottom: 2rem;
}

.postal-input::-ms-input-placeholder {
  color: #d3d3d3;
}

.postal-input::placeholder {
  color: #d3d3d3;
}

.error-message {
  max-width: 14rem;
  margin-top: -2rem;
  margin-bottom: 2rem;
  font-size: 76%;
  line-height: 140%;
}

.postal-wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

@media screen and (max-width: 767px) {
  .rorligt-elpris {
    font-size: 1.9rem;
    line-height: 1.9rem;
  }

  .postal-input {
    margin-left: 0;
  }
}

@media screen and (max-width: 479px) {
  .elomrade {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .elomrade.left {
    border-top-right-radius: 1.2rem;
    border-bottom-left-radius: 0;
  }

  .elomrade.right {
    border-top-right-radius: 0;
    border-bottom-left-radius: 1.2rem;
  }

  .rorligt-elpris-wrapper {
    height: auto;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
  }

  .postal-input {
    width: 100%;
    max-width: none;
  }

  .error-message {
    max-width: none;
  }
}

#w-node-_051a9b96-4ead-e118-8a59-194af47cb073-cdc55134 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_0ce87386-09bd-15c0-b072-0835fb14c6cc-cdc55134,
#w-node-_91f649a3-bb70-a795-b83a-2447edc0e2f4-cdc55134,
#w-node-cddf50a4-4c92-fe6b-0172-49fec9704d62-cdc55134,
#w-node-_15d05f01-d5c1-4387-6d10-54988da43617-cdc55134 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: stretch;
  justify-self: stretch;
}
